/* Fonte personalizada projeto */

@font-face {
    font-family: 'Wolf-in-the-City';
    src: url('Wolf-in-the-City.ttf.woff') format('woff'),
    url('Wolf-in-the-City.ttf.svg#Wolf-in-the-City') format('svg'),
    url('Wolf-in-the-City.ttf.eot'),
    url('Wolf-in-the-City.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.alinha {
    margin: 0 auto;
    /* 960 */
    width: 67.5%;

}

.ativo {
    color: #ED5A70;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}


nav {
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

}

nav img {
    /* -1.2px /80px */
    margin-top: -1.6%;
    /* =~ 30px/960px */
    margin-left: 3%;
    height: 60px;
    float: left;
}

nav ul {
    /* =~ 2.5px /80px */
    margin-top: 3.2%;
    margin-left: 60%;
    display: flex;
    /* itens alinhado em linha */
    flex-direction: row;
    align-items: center;
    list-style: none;
}

nav ul li {
    /* =~ 30px /960px */
    margin-left: 3%;
    text-align: center;
}

nav ul li a {
    width: 100%;
    display: inline-block;
    font-size: 0.86em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ED5A70;
}



#banner {
    position: relative;
    background-image: url(../img/mesa.png);
    /* A imagem ocupar todo o espaço */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* itens alinhado em coluna */
    align-items: center;
    text-align: center;
}

#banner section {
    width: 100%;
    height: 700px;
}

#titulo {
    /* =~ 55px /700px */
    margin-top: 8%;
    font-family: 'Wolf-in-the-City';
    font-size: 4.5em;
    font-weight: 400;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

#frase1 {
    margin-top: -3.7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

#frase2 {
    margin-top: -0.9%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.space {
    /* =~ 22px /700px */
    margin-top: 3%;
}

#botao-saiba {
    padding: 0.4% 3.8%;
    border: 0;
    border-radius: 338px;
    border-color: #ED5A70;
    background-color: #ED5A70;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;

}

#botao-saiba:hover {
    border-color: #fff;
    background-color: #fff;
    color: #ED5A70;
}


@media (min-width: 1400px) {
    #titulo {
        margin-top: 2%;
    }
    #banner {
        padding-top: 100px;
    }
}
