//variaveis sass
$cor-base:#ED5A70;
$cor-secundaria:#fff;
$cor-terciaria:#EA2F4A;
$cor-quaternaria:#f3f4f4;
$cor-sombra:#000;
$cor-font-titulo:#1F1F1F;
$cor-font-conteudo:#2B2C30;

// mixins sass
@mixin flex ($direcao) {
    display: flex;
    flex-direction: $direcao;
    align-items: center;
    text-align: center;
}

@mixin font-open($tamanho, $tipo) {
    font-family: 'Open Sans', sans-serif;
    font-size: $tamanho;
    font-weight: $tipo;

}

@mixin font-work($tamanho, $tipo) {
    font-family: 'Work Sans', sans-serif;
    font-size: $tamanho;
    font-weight: $tipo;

}

//Extends
%texto-sombra {
    text-shadow: 0.5px 0.5px 0.5px rgba($cor-sombra, 0.3);
}

%sombra {
    box-shadow: 2px 2px 2px rgba($cor-sombra, 0.2);

}

%sombra-topo {
    box-shadow: 1px -1px 10px rgba($cor-sombra, 0.2);

}



/* Fonte personalizada projeto */

@font-face {
    font-family: 'Wolf-in-the-City';
    src: url('Wolf-in-the-City.ttf.woff') format('woff'),
    url('Wolf-in-the-City.ttf.svg#Wolf-in-the-City') format('svg'),
    url('Wolf-in-the-City.ttf.eot'),
    url('Wolf-in-the-City.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* Geral */

.alinha {
    margin: 0 auto;
    /* 960 */
    width: 67.5%;

}

.ativo {
    color: $cor-base;
}



.titulo {
    margin-top: 8%;
    @include font-open(1.5em,
    700);
    color: $cor-font-titulo;
    text-transform: uppercase;
}

.linha {
    width: 5%;
    height: 2.5px;
    border: 0;
    border-radius: 5px;
    border-color: $cor-terciaria;
    background-color: $cor-terciaria;
}

/* header */

header {
    width: 100%;
    height: 80px;
    background-color: rgba($cor-secundaria, 0.97);
    position: fixed;
    @extend %sombra;
    z-index: 1;
}


nav {
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        /* -1.2px /80px */
        margin-top: -1.6%;
        /* =~ 30px/960px */
        margin-left: 3%;
        height: 60px;
        float: left;
    }
    ul {
        /* =~ 2.5px /80px */
        margin-top: 3.2%;
        margin-left: 60%;
        @include flex(row);
        list-style: none;
    }

    li {
        /* =~ 30px /960px */
        margin-left: 3%;
    }

    a {
        width: 100%;
        display: inline-block;
        @include font-open(0.86em,
        600);
        color: $cor-sombra;
        text-decoration: none;

        &:hover {
            color: $cor-base;
        }
    }
}

/* Banner de Entrada */

#banner {
    position: relative;
    background-image: url(../img/mesa.png);
    /* A imagem ocupar todo o espaço */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $cor-secundaria;
    @include flex(column);

    section {
        width: 100%;
        height: 700px;
    }

    h1 {
        /* =~ 55px /700px */
        margin-top: 8%;
        font-family: 'Wolf-in-the-City';
        font-size: 4.5em;
        font-weight: 400;
        @extend %texto-sombra;
        color: $cor-secundaria;
    }
}

#frase1 {
    margin-top: -3.7%;
    @include font-open(1.4em,
    700);
    @extend %texto-sombra;
    color: $cor-secundaria;
}

#frase2 {
    margin-top: -0.9%;
    @include font-open(1.4em,
    300);
    @extend %texto-sombra;
    color: $cor-secundaria;
    margin-bottom: 3%;
}

#botao-saiba {
    padding: 0.4% 3.8%;
    border: 0;
    border-radius: 338px;
    border-color: $cor-base;
    background-color: $cor-base;
    color: $cor-secundaria;
    text-decoration: none;
    @include font-open(1em,
    300);

    &:hover {
        border-color: $cor-secundaria;
        background-color: $cor-secundaria;
        color: $cor-base;
    }

}

/* Sobre */

#sobre {
    margin: -1.8% auto;
    width: 100%;
    height: auto;
    background-color: $cor-quaternaria;
    position: relative;
    @include flex(column);
    @extend %sombra;
    padding-bottom: 5%;

    p {
        margin-top: 5%;
        width: 95%;
        @include font-open(1.05em,
        300);
        line-height: 25px;
        color: $cor-font-conteudo;
        padding-bottom: 3.5%;
    }

}

#habilidades {
    padding: 0.4% 3.8%;
    border: thin solid $cor-terciaria;
    border-radius: 338px;
    background-color: $cor-quaternaria;
    color: $cor-terciaria;
    text-decoration: none;
    @include font-open(1em,
    300);

    &:hover {
        border-color: $cor-terciaria;
        background-color: $cor-terciaria;
        color: $cor-secundaria;
    }

}

/* Servicos */

#servico {
    width: 100%;
    height: auto;
    background-color: $cor-secundaria;
    @include flex(row);
    flex-wrap: nowrap;
    margin-bottom: 8%;
}

.tamanho-servico {
    width: 22%;
    height: auto;
    float: left;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 6%;

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 700;
        color: $cor-font-titulo;
    }

    p {
        @include font-work(1em,
        300);
        color: $cor-font-conteudo;
    }

}

/* Portfolio */

#portfolio {
    height: auto;
    position: relative;
    background-image: url(../img/fundo-portfolio.png);
    /* A imagem ocupar todo o espaço */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include flex(column);
    @extend %sombra-topo;
    padding-bottom: 6%;
    img {
        width: 30.333333%;
        float: left;
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 0.5%;
        @extend %sombra;
    }

}

article {
    @include flex(row);

}

#contato {
    margin: -1.8% auto;
    width: 100%;
    height: auto;
    background-color: $cor-secundaria;
    position: relative;
    @include flex(column);
    @extend %sombra-topo;
    p {
        margin-top: 5%;
        width: 38%;
        margin-left: 31%;
        margin-right: 31%;
        @include font-open(1.05em,
        400);
        line-height: 22px;
        color: #727171;
        padding-bottom: 3.5%;
    }

}

#contato-info {
    margin: 3px;
    width: 100%;
    position: relative;
    @include flex(row);

    section {
        width: 50%;
        p {
            @include font-open(1em,
            400);
            @extend %texto-sombra;
            color: $cor-font-conteudo;
        }
        img {
            width: 50px;
        }

    }


}

#email {
    padding-left: 5.5%;
}



#icones-redesocial {
    margin-top: 5px;
    margin-left: 38%;
    margin-bottom: 3px;
    padding-left: 0.3%;
    @include flex(row);

    img {
        width: 80%;
        height: 80%;
    }

}


/* Footer */

footer {
    margin-top: 5px;
    padding-left: 0.5%;
    padding-bottom: 5px;
    @include font-work(0.9em,
    400);
    color: $cor-font-conteudo;
    @extend %texto-sombra;

}

@media (min-width: 1400px) {
    #banner {
        padding-bottom: 12%;
    }
}
