/* Geral */

.alinha {
    margin: 0 auto;
    /* 960 */
    width: 67.5%;
    max-width: 1900px;

}

.ativo {
    color: $cor-base;
}

.titulo {
    margin-top: 8%;
    @include font-open(1.5em,
    700);
    color: $cor-font-titulo;
    text-transform: uppercase;
}

.linha {
    width: 5%;
    height: 2.5px;
    border: 0;
    border-radius: 5px;
    border-color: $cor-terciaria;
    background-color: $cor-terciaria;
}
