/* Fonte personalizada projeto */

@font-face {
    font-family: 'Wolf-in-the-City';
    src: url('Wolf-in-the-City.ttf.woff') format('woff'),
    url('Wolf-in-the-City.ttf.svg#Wolf-in-the-City') format('svg'),
    url('Wolf-in-the-City.ttf.eot'),
    url('Wolf-in-the-City.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
